
body,
html {
	margin: 0;
	padding: 0;
	font-Family: 'Arial', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
.webp body {
	background: url(../img/topstar.webp) top center no-repeat #000;
	background-attachment: fixed;
}
.nowebp body {
	background: url(../img/topstar.jpg) top center no-repeat #000;
	background-attachment: fixed;
}

.headers {
	position: relative;
	max-width: 920px;
	height: 100%;
	margin: auto;
	min-height: 300px;
}

.div_h1 {
	font-size: 18px;
	color: #C5CDCF;
	padding-left: 5px;
	padding-top: 0px;
	margin-top: 0px;
	font-weight: bold;
	margin-bottom: 12px;
}

ul,
li {
	margin: 0;
	padding: 5px 0px 5px 4px;
}

li {
	list-style-type: none;
}

.opis_div,
.opis_right {
	margin-top: 10px;
	display: block;
	/* vertical-align: top; */
}

.opis_div {
	margin-top: 0;
	padding: 5px;
	background: url(../img/px.png);
	position: relative;
	z-index: 1;
	line-height: 1.6;
}

.opis_right {
	max-width: 760px;
	width: 100%;
	margin-left: 20px;
	position: relative;
	z-index: 1;
}

.sub_opis {
	display: block;
	background: url(../img/px.png);
	color: #89989D;
	position: relative;
	padding: 5px;
	z-index: 1;
}

h1 {
	font-size: 18px;
	color: #C5CDCF;
	padding-left: 5px;
	padding-top: 0px;
	margin-top: 0px;
}

img {
	border: 0px;
}

input:focus {
	outline: 0 none;
}

button:focus {
	outline: 0 none;
}

.text,
#showen {
	color: white;
	padding: 0px 5px 7px 5px;
}

a {
	color: #C5CDCF;
}

a:hover {
	color: #e5e5e5;
}

.taro_card {
	float: left;
	margin: 0 7px 15px 0;
	height: 80px;
	width: 60px;
	background: url(../img/rubashka.png) top left no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media (min-width: 0\0) {
	.taro_card {
		float: left;
		margin: 0 7px 15px 0;
		height: 80px;
		width: 60px;
		background: url(../img/rubashka.png) top left no-repeat;
		background-size: contain;
		cursor: pointer;
	}
}




/* Число года рождения */

.smallimg {
	transition: all 0.5s ease;	
	width: 200px;
	height: 50%;
	display: block;
	float: none;
	margin: 0 auto 0 0;
	position: relative;
	left: 40px;
}
.btn {
display: block;
margin: 0 auto;
}
.smallimg2 {
	width: 100%;
}
.logo {
	display: inline-block;
}

.headers {
	width: 920px;
}

/* Ресайзим адаптивность */

@media (max-width:874px) {

	.opis_div *,
	.opis_right {
		font-size: 15px;
	}
}

@media (max-width:500px) {
	.taro_card {
		width: 60px;
	}

	.div_h1 {
		font-size: 22px;

	}

	h1 {
		font-size: 25px;
	}

	input[type=text] {
		font-size: 18px;
		width: 68%;
	}
}

/* Паддинги у рекламы */


/* Остальная адаптивность */
@media (max-width: 992px) {
	.taro_card {
		width: 58px;
	}
}


@media(max-width:940px) {
	.opis_right {
		width: 100%;
		margin: 0;
		padding: 5px 0px 5px 0px;
		float: none;
	}

	.opis_div {
		margin: 0;
		line-height: 1.7;
		padding: 5px 15px;
		float: none;
	}

	.headers {
		width: 100%;
		margin: auto;
	}

	/* //.headers, .opis_div, .opis_sonnik { min-width: 500px; } */
}

.cardd {
	display: inline-block;
	height: 104px;
	width: 32%;
	margin: 0 auto;
}

.cc1 {
	background: url('../img/imperator.png') top center no-repeat;
}

.cc2 {
	background: url('../img/zvezda.png') top center no-repeat;
}

.cc3 {
	background: url('../img/spravedlivost.png') top center no-repeat;
}

.cc {
	display: inline-block;
	font-size: 14px;
	width: 31%;
	text-align: center;
	padding: 0 3px;
	margin: 0 auto;
}

.h2Block {
	color: rgb(15, 59, 104);
	margin: -5px -20px 0;
	padding: 5px;
}

.h2Block h1 {
	margin: 7px;
	font-size: 20px;
	font-weight: bold;
	color: #d3b37c;
}

.textbox {
	height: 45px;
	max-width: 400px;
	width: 100% !important;
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	padding: 10px;
	margin: 0 auto 20px;
	display: block;
}

.textbox:focus {
	outline: medium none;
	border: 2px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
}

@media (max-width: 470px) {
	.h2Block h1 {
		margin: 7px;
		font-size: 19px;
		font-weight: bold;
	}
}

@media (max-width: 270px) {
	.h2Block h1 {
		margin: 7px;
		font-size: 16px;
		font-weight: bold;
	}
}

.vk-container {
	margin-top: 35px;

	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	line-height: 17px;
	color: black;
	text-decoration: none;
	background: #fff
}

.vk-link {
	text-decoration: none ! important;
	/* cursor: pointer ! important; */
}

.vk-header {
	background: #4267b2 none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
}

.vk-logo {
	background: transparent url("") no-repeat scroll 0% 0%;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -1px;
}

.vk-header-text {
	padding: 2px 3px 1px;
	line-height: 100%;
	color: #fff;
}

.vk-avatar img {
	float: left;
	margin: 0 10px 0 2px;
	cursor: pointer;
}

.vk-comment-load {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid rgb(218, 225, 232);
	padding-bottom: 15px;
	padding-left: 10px;
}

.vk-comment-name {
	color: rgb(43, 88, 122);
	font-weight: bold;
	font-size: 12px;
}

.vk-comment-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.vk-comment-text {
	margin-left: 60px;
	color: rgb(0, 0, 0);
}

.vk-comment-date {
	margin-left: 60px;
	color: rgb(153, 153, 153);
}

.vk-comment-like {
	position: absolute;
	right: -5px;
	bottom: 10px;
	background: transparent;
	width: 30px;
	height: 16px;
	display: inline-block;
}

.vk-comment-like:hover {
	opacity: 0.5;
	cursor: pointer;
}

.vk-comment-like-count {
	padding-left: 14px;
	font-weight: bold;
	color: rgb(114, 149, 178);
	font-size: 10px;
	position: relative;
	width: 28px;
	right: 28px;
}

.vk-comment-like-count img {
	width: 12px;
	display: inline-block;
	position: relative;
	top: 2px;
}

.vk-comment-answer {
	color: rgb(43, 88, 122);
}

.vk-comment-answer:hover {
	opacity: 0.5;
	cursor: pointer;
}

.order-btn {
	color: #091413;
	padding: 15px 100px;
	font-size: 21px;
	margin: auto;
	font-weight: 700;
	background-color: #d3b37c;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.order-btn:hover {
	text-decoration: underline;
}

.price {
	text-align: center;
}

.price p {
	margin: 2px auto;
}

.price .old-price {
	color: #e6e6e6;
	text-decoration: line-through;
	-webkit-text-decoration-line: line-through;
}

.price .new-price {
	color: #d4710b;
	font-weight: 700;
}

.toform {
	cursor: pointer !important;
}

.amulet-ph {
	max-width: 310px !important;
}

span[data-param="vk_comment_like_count_1"] {
	font-size: 10px;
}

div[data-param="vk_comment_text_1"] {
	font-size: 13px;
}

.block-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	width: 75%;
}

.name p {
	color: #ddc091;
	text-align: center;
	font-size: 2.4em;
	margin: 0;
	line-height: 1.3;
}

.prediction-gen p {
	color: #ddc091;
	text-align: center;
	font-size: 1.5em;
}

.prediction-gen img {
	display: block;
	margin: 10px auto 20px;
	border-radius: 50%;
	max-width: 60px;
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
}

#preloader img {
	display: block;
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 50%;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

@media (max-width: 875px) {
	.name p {
		font-size: 1.6em;
	}
}

@media (max-width: 755px) {

	.taro_card[data-id="bashnya"],
	.taro_card[data-id="luna"] {
		display: none;
	}

	.taro_card {
		margin: 0 5px 15px 4px;
		width: 18%;
		height: 100px;
		background-position: center !important;
	}
}

@media (max-width: 570px) {
	.smallimg {
		left: 5px;
		max-width: 140px;
	}

	.name p {
		font-size: 1.5em;
	}
}

@media (max-width: 490px) {
	.taro_card {
		width: 22%;
	}

	div[data-param="vk_comment_text_1"] {
		font-size: 12px;
	}

	.vk-comment-like-count {
		padding-left: 25px;
	}

	.name p {
		font-size: 1.3em;
	}
}

@media (max-width: 440px) {
	.smallimg {
		max-width: 115px;
		left: 15px;
	}

	.name p {
		font-size: 1.1em;
	}

	.logo {
		max-width: 110px;
	}

	.cc {
		width: 30%;
	}
}

@media (max-width: 360px) {
	.name p {
		font-size: 1.2em;
		padding: 0 10px;
	}
}

@media (max-width: 340px) {
	.taro_card {
		width: 21%;
	}
}

/* 
.taro_card {
	background: url(../img/rubashka.jpg);
} */


/* .taro_card[data-id="spravedlivost"] {
	background: url(../img/spravedlivost.png);
} */



.imperatrica {
	background: url(../img/imperatrica.png) top center no-repeat;
}

.spravedlivost {
	background: url(../img/spravedlivost.png) top center no-repeat;
}

.sud {
	background: url(../img/sud.png) top center no-repeat;
}

.zvezda {
	background: url(../img/zvezda.png) top center no-repeat;
}

.shut {
	background: url(../img/shut.png) top center no-repeat;
}

.solnce {
	background: url(../img/solnce.png) top center no-repeat;
}

.otshelnik {
	background: url(../img/otshelnik.png) top center no-repeat;
}

.imperator {
	background: url(../img/imperator.png) top center no-repeat;
}

.kolesofortuni {
	background: url(../img/mir.png) top center no-repeat;
}

.jrec {
	background: url(../img/jrec.png) top center no-repeat;
}

.mir {
	background: url(../img/mir.png) top center no-repeat;

}

.smert {
	background: url(../img/smert.png) top center no-repeat;
}

.umerennost {
	background: url(../img/umerennost.png) top center no-repeat;
}

.jrica {
	background: url(../img/jrica.png) top center no-repeat;
}

.bashnya {
	background: url(../img/bashnya.png) top center no-repeat;
}

.kolesnica {
	background: url(../img/kolesnica.png) top center no-repeat;
}

.vlublennie {
	background: url(../img/vlublennie.png) top center no-repeat;
}

.vlublennie {
	background: url(../img/vlublennie.png) top center no-repeat;
}

.dyavol {
	background: url(../img/dyavol.png) top center no-repeat;
}

.luna {
	background: url(../img/luna.png) top center no-repeat;
}

.mag {
	background: url(../img/mag.png) top center no-repeat;
}

.poveshenniy {
	background: url(../img/poveshenniy.png) top center no-repeat;
}

.sila {
	background: url(../img/sila.png) top center no-repeat;
}

.otshelnik {
	background: url(../img/otshelnik.png) top center no-repeat;
}
footer {
	background: #4c4c4c;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 0;
}

.container {
	width: 100%;
	max-width: 480px;
	padding: 0 15px;
}

footer {
	color: #fff;
}

footer a {
	color: rgb(0, 153, 255);
	text-decoration: none;
}

footer p {
	text-align: center;
	margin: 5px 0;
}

footer a:hover {
	text-decoration: underline;
}
.toform {
	border: none;
	color: #091413;
	padding: 12px 10px;
	font-size: 19px;
	font-weight: 700;
	background-color: #d3b37c;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.reg5 {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 0;
	max-width: 200px;
	padding: 12px 0;
	font-size: 19px;
	border-radius: 6px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	line-height: 100%;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	cursor: pointer;
	color: #091413 !important;
	font-weight: 700;
	background-color: #d3b37c;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.bggg1,
.bggg {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 0;
	display: none;
	z-index: 5;
	color: #fff;
}
.step_1 {
	width: 250px;
	display: none;
	margin: 0 auto;
	text-align: center;
	top: 100px;
	position: relative;
}
.user-name {
	padding: 10px; margin: 0 6px 0 0;
}
.step_2 {
	width: 250px;
	display: none;
	text-align: center;
	margin: 0 auto;
	top: 100px;
	position: relative;
}
.step_12 {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	top: 100px;
	position: relative;
}
.main-page2-img {
	display: block;
	margin: 0 auto;
}
.center {
	text-align: center;
}